$main-color: #262936;
$primary-color: #009ad8;
$light-color: #bfc1c8;
$dark-color: #1e202b;

.news {
    background-color: $main-color;
    padding: 50px 0;
  .container {
    .row {
      display: flex;
      justify-content: space-around;
      .col-md-3 {
        width: 23%;
        color: $light-color;
        transition: all .4s;
        img {
          width: 100%;
          height: 70%;
          object-fit: cover;
        }
        h4 {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          margin: 5px 0;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          a {
            color: #009ad8 !important;
          }
        }
        &:hover {
          border: 1px solid $primary-color;
          transform: scale(1.1,1.1);
        }
      }
    }
  }
}

@media (max-width: 992px) {
    .news {
      
      .container {
          .row {
              display: flex;
              justify-content: space-around;
              .col-md-3 {
          width: 30%;

          h4 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .news {
    .container {
      .row {
        display: flex;
        justify-content: space-around;
        .col-md-3 {
          width: 50%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .news {
    .container {
      .row {
        display: flex;
        justify-content: space-around;
        .col-md-3 {
          width: 80%;
        }
      }
    }
  }
}
