$main-color: #262936;
$primary-color: #009ad8;
$light-color: #bfc1c8;
$dark-color: #1e202b;

.home {
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-color: $dark-color;
  min-height: 110vh;
  background-color: #1e202b;
  padding-bottom: 2em;
  color: #fff;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    form {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $dark-color;
      margin-left: auto;
      margin-right: auto;
      border-radius: 25px;
      height: 3em;
      :nth-child(1) {
        width: 75%;
        background-color: $dark-color;
        outline: none;
        border: none;
        border-radius: 20px;
      }
      input {
        width: 15%;
        outline: none;
        border: none;
        width: 7em;
        height: 2.5em;
        border-radius: 20px;
        color: #fff;
        background-color: #009ad8;
      }
    }

    .row {
      width: 100%;
      height: 100%;
      background-color: $main-color;
      border-radius: 20px;
      display: flex;
      justify-content: center;
     
      .col-md-4 {
        padding: 0;
        width: 33.33333%;
        border-radius: 20px 0px 0px 20px;
        background-color: #323544;
        .today-nav {
          width: 100%;
          display: flex;
          justify-content: space-between;
          background-color: #2d303d;
          border-radius: 20px 0 0 0;
          align-items: center;
          p {
            color: $light-color;
            font-size: 14px;
            font-weight: 400;
            margin-top: 7px;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
        .today-body {
          margin-left: 1.5em;
          .city-name {
            margin-top: 2em;

            p {
              color: $light-color;
              font-size: 18px;
              font-weight: 400;
            }
          }
          .today-degree {
            display: flex;
            justify-content: center;
            h3 {
              font-size: 90px;
              padding-right: 0.5em;
            }
            h4 {
              font-size: 90px;
              position: relative;
              span {
                font-size: 67.5px;
                position: absolute;
                top: -10px;
                left: -40px;
              }
            }
          }
          .today-weather-icon {
            width: 80px;
            height: 80px;
            img {
              width: 100%;
            }
          }
          .today-condition {
            p {
              color: $primary-color;
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
        .today-footer {
          width: 80%;
          display: flex;
          justify-content: space-around;
        }
      }
      .col-md-3 {
        width: 33.33333%;
        height: 100%;
        background-color: $main-color;
        padding: 0;
        border-radius: 0;

        .next-day {
          width: 100%;
          height: 100%;
          .next-day-nav {
            width: 100%;
            height: 2.8em;
            background-color: #222530;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin-top: 7px;
              color: $light-color;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .next-day-body {
            .next-day-weather-icon {
              display: flex;
              justify-content: center;
              margin-top: 4em;
              margin-bottom: 2em;
              img {
                width: 50px;
                height: 50px;
              }
            }

            .next-day-degree {
              display: flex;
              width: 25%;
              justify-content: space-around;

              h3 {
                font-size: 24px;
                font-weight: 700;
              }
              h4 {
                font-size: 24px;
                font-weight: 700;

                position: relative;
                span {
                  position: absolute;
                  top: -7px;
                  left: -10px;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
            .next-day-degree-cli {
              text-align: center;
              p {
                font-size: 16px;
                color: $light-color;
                font-weight: 300;
                position: relative;
                span {
                  position: absolute;

                  top: -5px;
                }
              }
            }

            .next-day-condition {
              text-align: center;
              h5 {
                color: $primary-color;
                font-size: 14px;
                font-weight: 300;
              }
            }
          }
        }
      }
      .col-md-5 {
        width: 33.33333%;

        background-color: #323544;
        padding: 0;
        border-radius: 0;

        .next-day {
          width: 100%;
          height: 100%;
          .next-day-nav {
            width: 100%;
            height: 2.8em;
            background-color: #2d303d;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin-top: 7px;
              color: $light-color;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .next-day-body {
            .next-day-weather-icon {
              display: flex;
              justify-content: center;
              margin-top: 4em;
              margin-bottom: 2em;
              img {
                width: 50px;
                height: 50px;
              }
            }

            .next-day-degree {
              display: flex;
              width: 25%;
              justify-content: space-around;

              h3 {
                font-size: 24px;
                font-weight: 700;
              }
              h4 {
                font-size: 24px;
                font-weight: 700;

                position: relative;
                span {
                  position: absolute;
                  top: -7px;
                  left: -10px;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
            }
            .next-day-degree-cli {
              text-align: center;
              p {
                font-size: 16px;
                color: $light-color;
                font-weight: 300;
                position: relative;
                span {
                  position: absolute;

                  top: -5px;
                }
              }
            }

            .next-day-condition {
              text-align: center;
              h5 {
                color: $primary-color;
                font-size: 14px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .home {
    height: auto;
    .container {
      width: 100%;
      height: auto;
      form {
        width: 100%;
      }
      .row {
        height: auto;
        justify-content: space-around;
        margin-top: 2em;
        .col-md-4 {
          width: 45%;
          border-radius: 20px;
          margin-bottom: 2em;
          margin-top: 2em;
          .today-nav {
            border-radius: 20px 20px 0 0;
            p {
              font-size: 12px;
            }
          }
          .today-body {
            margin-left: 1.5em;
            .city-name {
              margin-top: 1em;
              p {
                font-size: 16px;
              }
            }
            .today-degree {
              display: flex;
              justify-content: center;
              h3 {
                font-size: 60px;
                padding-right: 0.5em;
              }
              h4 {
                font-size: 60px;
                span {
                  font-size: 37.5px;
                  top: -10px;
                  left: -20px;
                }
              }
            }
            .today-weather-icon {
              width: 50px;
              height: 50px;
            }
            .today-condition {
              p {
                font-size: 12px;
              }
            }
          }
          .today-footer {
            width: 90%;
          }
        }
        .col-md-3 {
          width: 45%;
          border: 1px solid $light-color;
          border-radius: 20px;
          margin-bottom: 2em;
          margin-top: 2em;
          .next-day {
            .next-day-nav {
              height: 2.8em;
              border-radius: 20px 20px 0 0;
              p {
                font-size: 14px;
              }
            }
            .next-day-body {
              .next-day-weather-icon {
                display: flex;
                justify-content: center;
                margin-top: 3em;
                margin-bottom: 2em;
              }

              .next-day-degree {
                display: flex;
                width: 25%;
                justify-content: space-around;
                margin-bottom: 2em;
              }
            }
          }
        }
        .col-md-5 {
          width: 45%;
          border-radius: 20px;
          margin-bottom: 2em;
          .next-day {
            .next-day-nav {
              border-radius: 20px 20px 0 0;
            }
            .next-day-body {
              .next-day-weather-icon {
                margin-top: 2em;
              }
              .next-day-degree {
                margin-bottom: 2em;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .home {
    .container {
      form {
      }
      .row {
        margin-top: 1em;
        .col-md-4 {
          width: 80%;
          .today-nav {
            p {
              font-size: 14px;
            }
          }
          .today-body {
            .city-name {
              p {
                font-size: 18px;
              }
            }
            .today-degree {
              h3 {
                font-size: 50px;
                padding-right: 0.5em;
              }
              h4 {
                font-size: 50px;
                span {
                  font-size: 27.5px;
                  top: -5px;
                  left: -15px;
                }
              }
            }
            .today-weather-icon {
              width: 60px;
              height: 60px;
            }
            .today-condition {
              p {
                font-size: 16px;
              }
            }
          }
        }
        .col-md-3 {
          width: 80%;
        }
        .col-md-5 {
          width: 80%;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .home {
    .container {
      form {
      }
      .row {
        margin-top: 1em;
        .col-md-4 {
          width: 90%;
          .today-nav {
            p {
              font-size: 14px;
            }
          }
          .today-body {
            .city-name {
              p {
                font-size: 16px;
              }
            }
            .today-degree {
              h3 {
                font-size: 40px;
                padding-right: 0.5em;
              }
              h4 {
                font-size: 40px;
                span {
                  font-size: 17.5px;
                  top: 0px;
                  left: -10px;
                }
              }
            }
          }
          .today-footer{
            width: 100%;
          }
        }
        .col-md-3 {
          width: 90%;
          .next-day{
            .next-day-body{
              .next-day-degree{
                width: 30%;
              }
            }
          }
        }
        .col-md-5 {
          width: 90%;
          .next-day{
            .next-day-body{
              .next-day-degree{
                width: 30%;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 300px) {
  .home {
    .container {
      form {
      }
      .row {
        margin-top: 1em;
        .col-md-3 {
          width: 90%;
          .next-day{
            .next-day-body{
              .next-day-degree{
                width: 40%;
              }
            }
          }
        }
        .col-md-5 {
          width: 90%;
          .next-day{
            .next-day-body{
              .next-day-degree{
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
}
